.card-depoimento h4 {
    margin: 0 0 1rem 0;
    }
.preco{
    font-size: 1.5em;
    color: #ff6600aa;
    }
.card-depoimento {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 10px;
    transition: color 300ms, border-color 300ms;
}
